h2 {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    font-family: 'Roboto'
}

.tile-container {
    margin-left:0px;
    min-width: 300px;
}

.tile-description {
    padding-left: 15px;
    min-height: 200px;
}

.tile-description > p {
    word-spacing: 0.1em
}

.tile-container > header {
    display:flex;
    justify-content: space-between;
}

.tag {
    float:left;
    color:grey;
    font-size: 20px;
    font-family: 'Inconsolata';
    padding-left:15px;
}

